<div class="resultado h-100">


<!--imagen-->
    <div class="imagen-alimento">
        <img [src]="usuario.fotoRuta"
            width="75%" height="75%">
    </div>



<!--contenido del usuario-->
    <div class="contenido">
        <h1>{{usuario.username}}</h1>
        <p> {{usuario.descripcion}}</p>
        <h3>{{usuario.seguidores}} seguidores</h3>
    </div>

    <!--boton para eliminar de seguidos-->
    <div class="boton" *ngIf="mostrarEliminar">
        <button  class="btn btn-danger eliminar" (click)="eliminarSeguido(usuario.id, $event)">Eliminar</button>
    </div>

</div>
