<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row  ">



            <div class="col-md-3 col-sm-12 ">
                <div class="imagen-receta ">
                    <img src="https://res.cloudinary.com/chemareact/image/upload/v1676133243/cld-sample-4.jpg"
                        width="100%" height="100%">
                </div>
            </div>





            <div class="col-md-9 col-sm-12">
                <div class="row">
                    <div class="col">
                        <h1>{{username}}</h1>
                    </div>
                </div>





                <div class="row">
                    <div class="col">
                        <div class="contenedor-numeros d-flex justify-content-around align-items-center">
                            <div class="contenedor-numero d-flex flex-column align-items-center">
                                <h3>{{seguidos}}</h3>
                                <h3>seguidos</h3>
                            </div>
                        
                            <div class="contenedor-numero d-flex flex-column align-items-center">
                                <h3>{{seguidores}}</h3>
                                <h3>seguidores</h3>
                            </div>

                            <div class="boton d-flex flex-column align-items-center  ">
                            <button class="btn btn-success" *ngIf="botonSeguimiento" (click)="seguirUsuario(id)">seguir usuario</button>
                            <button class="btn btn-danger" *ngIf="!botonSeguimiento" (click)="dejarSeguir(id)">dejar de seguir</button>
                        </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>















    <div class="container mt-5">
        <div class="row ">
            <h1 class="text-center">publicaciones</h1>



            <div class="col-lg-4 col-md-6 col-sm-12 mt-3 " *ngFor="let publicacion of publicaciones" (click)="detallePublicacion(publicacion.id)">
                <div class="contenido-publicacion h-100">



                    <div class="imagen-receta ">
                        <img [src]="publicacion.fotoRuta"
                            width="100%" height="100%">
                    </div>


                    
                    <div class="texto-publicacion">
                       
                        <h2>{{publicacion.usernameUsuario}}</h2>
                        <h2>{{publicacion.tituloReceta}}</h2>
                        <h3>{{publicacion.titulo}}</h3>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>


</body>

</html>