<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>




  <div class="identificacion">
    <div class="container h-100">
      <div class="row h-100 ">
        <div class="col h-100 d-flex flex-column justify-content-center align-items-center">





          <div class="contenido-formulario p-5  w-50">
            <h1 class="text-center">FoodBook</h1>


            <!--formulario-->
            <form (ngSubmit)="submit()" [formGroup]="contactForm">
              <div class="mb-3">


                <!--username-->
                <input type="text" formControlName="username" class="form-control" placeholder="username"
                  name="username">


                  <!--alerta-->
                <div *ngIf="contactForm.get('username')?.touched && contactForm.get('username')?.errors?.['required']"
                  class="alerta">Este campo es obligatorio</div>


              </div>






              <div class="mb-3">


                <!--contrasena-->
                <input type="password" formControlName="password" class="form-control" placeholder="password"
                  name="password">


                  <!--alerta-->
                <div *ngIf="contactForm.get('password')?.touched && contactForm.get('password')?.errors?.['required']"
                  class="alerta">Este campo es obligatorio</div>


              </div>






              <!--boton-->
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn boton-entrar" [disabled]="contactForm.invalid">Identificarse</button>
              </div>







              <!--registro-->
              <div class="d-flex justify-content-center mt-3">
                <p>¿no tienes cuenta?</p><a routerLink="/registro">Registrate</a>
              </div>





              
              <!--mensqaje usuario incorrecto-->
              <div class="d-flex justify-content-center mt-3">
                <p class="alerta">{{mensaje}}</p>
              </div>


            </form>

          </div>


        </div>
      </div>
    </div>
  </div>

</body>

</html>