<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <!--<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/principal">Foodbook</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" routerLink="/identificacion">Identificacion</a>
          </li>


        </ul>
      </div>
    </div>
  </nav>-->


  <div class="registro">
    <div class="container h-100">
      <div class="row h-100">





        <div class="col-12 col-md-6  d-flex flex-column justify-content-center  ">
          
          <div class="contenido-formulario p-5  w-100   ">
            <h1 class="text-center">FoodBook</h1>
            <p class="text-center">registrate para ver todos los contenidos</p>

            <form (ngSubmit)="submit()" [formGroup]="contactForm">



              <div class="mb-3">
                
                <input type="email"  formControlName="email" placeholder="email" class="form-control" name="email">
               
                <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['required']"
                class="alerta">This field is required.</div><!--muestro alertas-->
          
                
              <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['minlength']"
                class="alerta">Name must be longer than 5 characters.</div>

                <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['email']"
                class="alerta">tiene que ser formato de email.</div>



              </div>



              <div class="mb-3">
               
                <input type="text"  formControlName="username" placeholder="username" class="form-control" name="username">
               
                <div *ngIf="contactForm.get('username')?.touched && contactForm.get('username')?.errors?.['required']"
                class="alerta">This field is required.</div><!--muestro alertas-->
          
                
              <div *ngIf="contactForm.get('username')?.touched && contactForm.get('username')?.errors?.['minlength']"
                class="alerta">Name must be longer than 5 characters.</div>

             
              </div>
              <div class="mb-3">
              
                <input type="password"  formControlName="password" placeholder="password" class="form-control" name="password">
             
                <div *ngIf="contactForm.get('password')?.touched && contactForm.get('password')?.errors?.['required']"
                class="alerta">This field is required.</div><!--muestro alertas-->
          
                
              <div *ngIf="contactForm.get('password')?.touched && contactForm.get('password')?.errors?.['minlength']"
                class="alerta">Name must be longer than 5 characters.</div>



              </div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid" >Registrarse</button>
              </div>
              

            </form>
          </div>

        </div>





        <div class="col-12 col-md-6 d-flex flex-column justify-content-center  ">
          <div class="contenido-foto w-100  ">
            <div class="imagen">
            <img src="https://res.cloudinary.com/chemareact/image/upload/v1676133243/cld-sample-4.jpg" width="100%" height="100%">
              </div>
            <div class="d-flex  justify-content-center  mt-1 cuenta">
              <p>¿tienes cuenta?</p><a  routerLink="/identificacion">Entrar</a>
            </div>
            

          </div>
        </div>


      </div>
    </div>
  </div>

</body>

</html>