<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<!--llamo al buscador con los parametros que le quiero dar a las cartas de los alimentos-->
    <app-buscador-alimento [mostrarAnadirAlimento]="false" [mostrarDetalle]="true" [mostrarSeleccionarAlimento]="false" [mostrarComprarAlimento]="true"></app-buscador-alimento>
  

</body>

</html>