<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>usuarios que te siguen</h1>
        <div class="row">
            <!--todo slos seguidores-->
            <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let seguidor of usuarioSeguidores" (click)="detalleUsuario(seguidor.id)">


                <!--un usuario-->
                <app-carta-usuario [usuario]="seguidor" [mostrarEliminar]="false"></app-carta-usuario>
            </div>

        </div>
    </div>
</body>

</html>