<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>




  <div class="identificacion">
    <div class="container h-100 contenedor-grande">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-6 col-sm-12">

          <div class="contenido-formulario p-5">
            <!--icono-->
            <div class="icono d-flex justify-content-center">
              <img class="img-icono" src="https://res.cloudinary.com/chemareact/image/upload/v1680814467/Images/iconoDef_yg51ba.png">
            </div>
            <h1 class="text-center">FoodBook</h1>


            <!--formulario-->
            <form (ngSubmit)="submit()" [formGroup]="contactForm">
              <div class="mb-3">


                <!--username-->
                <input type="text" formControlName="username" class="form-control" placeholder="username"
                  name="username">


                <!--alerta-->
                <div *ngIf="contactForm.get('username')?.touched && contactForm.get('username')?.errors?.['required']"
                  class="alerta">Este campo es obligatorio</div>

                <!--alerta-->
                <div *ngIf="contactForm.get('username')?.touched && contactForm.get('username')?.errors?.['minlength']"
                  class="alerta">Debe contener al menos 5 caracteres</div>

                <!--alerta-->
                <div *ngIf="contactForm.get('username')?.touched && contactForm.get('username')?.errors?.['maxlength']"
                  class="alerta">Debe contener como maximo 50 caracteres</div>


              </div>






              <div class="mb-3">


                <!--contrasena-->
                <input type="password" formControlName="password" class="form-control" placeholder="contraseña"
                  name="password">


                <!--alerta-->
                <div *ngIf="contactForm.get('password')?.touched && contactForm.get('password')?.errors?.['required']"
                  class="alerta">Este campo es obligatorio</div>

                <!--alerta-->
                <div *ngIf="contactForm.get('password')?.touched && contactForm.get('password')?.errors?.['minlength']"
                  class="alerta">Debe contener al menos 5 caracteres</div>


                <!--alerta-->
                <div *ngIf="contactForm.get('password')?.touched && contactForm.get('password')?.errors?.['maxlength']"
                  class="alerta">Debe contener como maximo 50 caracteres</div>


              </div>






              <!--boton-->
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn boton-entrar" [disabled]="contactForm.invalid">Identificarse</button>
              </div>







              <!--registro-->
              <div class="d-flex justify-content-center mt-3">
                <p>¿No tienes cuenta?</p><a routerLink="/registro" class="enlace-registro">Regístrate</a>
              </div>






              <!--mensqaje usuario incorrecto-->
              <div class="d-flex justify-content-center mt-3">
                <p class="alerta">{{mensaje}}</p>
              </div>


            </form>

          </div><!--formulario contenido-->


        </div><!--columna-->
      </div><!--fila-->
    </div><!--container-->
  </div><!--identificacion-->

</body>

</html>