<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>usuarios seguidos</h1>
        <div class="row">
            <!--todos los seguidos-->
            <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let seguido of usuariosSeguidos" (click)="detallesUsuario(seguido.id)">
                <!--un usuario-->
                <app-carta-usuario [usuario]="seguido" [mostrarEliminar]="true" (actualizarSeguidos)="getUsuariosSeguidos()"></app-carta-usuario>


               
            </div>

        </div>
    </div>



   
    
</body>
</html>
