<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="contenedor-exterior pt-2">
        <div class="container informacion ">
            <div class="row  ">
                <div class="col d-flex justify-content-center align-items-center">




                    <div class="formulario w-100 ">


                        <!--texto-->
                        <h1 class="text-center">CREAR PUBLICACIÓN</h1>
                        <h2 class="text-center">Información de la publicación</h2>
                        <p class="text-center fw-bold">En primer lugar, introduce la información básica de la
                            publicación
                            para que los demás usuarios sepan en que consiste</p>

                        <form (ngSubmit)="submitPublicacion()" [formGroup]="formularioPublicacion">

                            <!--titulo-->
                            <div class="mb-3">
                                <label class="titulo mb-2">Título</label>
                                <input type="text" formControlName="titulo" class="form-control" name="titulo">
                                <div *ngIf="formularioPublicacion.get('titulo')?.touched && formularioPublicacion.get('titulo')?.errors?.['required']"
                                    class="alerta">Este campo es obligatorio</div>

                            </div>




                            <!--descripcion-->
                            <div class="mb-3">
                                <div class="tituloContenedor">
                                    <p>Descripción</p>
                                </div>
                                <textarea formControlName="descripcion" class="form-control"
                                    name="descripcion"></textarea>
                                <div *ngIf="formularioPublicacion.get('descripcion')?.touched && formularioPublicacion.get('descripcion')?.errors?.['required']"
                                    class="alerta">Este campo es obligatorio</div>

                            </div>



                            <!--foto-->
                            <div class="mb-3 d-flex flex-column ">
                                <div class="tituloContenedor">
                                    <p>Foto</p>
                                </div>
                                <input type="file" (change)="selectFile($event)" />
                                <p *ngIf="sinImagen" class="alerta">Por favor añade una imagen</p>

                            </div>






                            <!--boton-->
                            <div class="fijo  d-flex flex-column align-items-center justify-content-center">

                                <div class="spiner d-flex flex-column justify-content-center align-items-center"
                                    *ngIf="mensajeGuardando">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <p class="text-center mt-2">Guardando publicación</p>
                                </div>


                                <button type="submit" class="btn btn-success" [disabled]="formularioPublicacion.invalid"
                                    *ngIf="!mensajeGuardando">Guardar
                                    publicación</button>


                            </div>





                        </form>


                    </div>
                </div><!--col informacion-->
            </div><!--row informacion-->
        </div><!--container informacion-->


        <div class="container enlace mt-5">




            <!--seleccion buscador-->
            <div class="row ">

                <div class="col d-flex flex-column align-items-center ">
                    <div class="contenedor-select w-100 d-flex flex-column align-items-center">

                        <!--titulo-->
                        <h2 class="text-center">Enlazar alimento o receta</h2>
                        <p class="text-center fw-bold">En segundo lugar, selecciona si quieres enlazar la publicación
                            con una receta o un alimento y busca esa receta o alimento</p>

                        <!--select-->
                        <select name="miselect" [(ngModel)]="seleccion" (ngModelChange)="onChangeSelect()">
                            <option value="receta">receta</option>
                            <option value="alimento">alimento</option>
                        </select>



                        <!--seleccion-->
                        <h2 class="text-center mt-2">Tu selección</h2>


                        <!--carta-->
                        <div class="contenedor-seleccion ">
                            <p *ngIf="seleccionEnlace" class="alerta">Por favor selecciona una receta o un alimento para
                                asociar a
                                la
                                publicación</p>

                            <app-carta-receta [receta]="recetaSeleccionada" [mostrarEliminar]="false"
                                [mostrarSeleccionar]="false" *ngIf="recetaMarcada"></app-carta-receta>


                            <app-carta-alimento [alimento]="alimentoSeleccionado" [mostrarAnadir]="false"
                                [mostrarSeleccionar]="false" [mostrarComprar]="false"
                                *ngIf="alimentoMarcado"></app-carta-alimento>


                        </div>

                    </div>



                </div>

            </div>







            <!--llamo al buscador con los parametros para las cartas, eliminar y seleccionar, recibo evento de que se ha seleccionado una receta, cojo su id-->
            <app-buscador-receta [mostrarEliminarReceta]="false" [mostrarSeleccionarReceta]="true" [mostrarDetalle]="false"
                *ngIf="!mostrarBuscadorAlimento" (marcarReceta)="marcarReceta($event)"></app-buscador-receta>
            <!--llamo evento del padre cuando se produce evento en hijo-->


            <!--llamo al buscador con anadir, eliminar y seleccionar, parametros para las cartas, recibo evento suyo de que se ha marcado y cojo el id-->
            <app-buscador-alimento [mostrarAnadirAlimento]="false" [mostrarSeleccionarAlimento]="true" [mostrarDetalle]="false"
                [mostrarComprarAlimento]="false" *ngIf="mostrarBuscadorAlimento"
                (marcarAlimento)="marcarAlimento($event)"></app-buscador-alimento>







            <div class="row relleno " *ngIf="relleno">

            </div>









        </div><!--container-->
    </div><!--contenedor exterior-->

</body>

</html>