/*principal*/
.contenido-publicacion{

    border-radius:10px;
    background-color:#00b347 ;
    color:white;
    cursor:pointer;
}

.contenido-publicacion:hover{
    background-color:#00722e;
    transform:scale(1.05);
    transition:1s ease-out;
}



/*imagen publicacion*/
.imagen{
    width:  250px;
    height: 250px;
    object-fit: cover;
    border-radius:10px;
}


/*imagen del usuario*/
.imagen-usuario{
    width:  50px;
    height: 50px;
    object-fit: cover;
    border-radius:50%;
}