
/*boton fijo*/
.fijo{
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    background-color: #FFFFFF;
    padding:30px;
    border-top: 5px solid black;
    z-index:9999;
}

.boton-guardar{
    font-size:20px;
}

.titulo-arriba{
    border:5px solid #00722e;
    border-radius:10px;
    color:#00722e;
}
.imagenEdicion{
    width:  250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}



/*conentedor de fuera*/
.contenedor-exterior{
    background-color: #00b347;
}



/*formulario campos*/
.formulario{
    
    border-radius:10px;
    padding:30px;
    background-color: #FFFFFF;
    margin-top:10px;
    

}



/*alertas*/
.alerta{
    color:red;
}


/*formulario para los pasos*/
.formulario-pasos{
    background-color: #FFFFFF;
    margin-top:20px;
    padding:30px;
    border-radius:10px;
}




/*orden de los pasos*/
.contenido-orden{
    background-color: #FFFFFF;
    border:3px solid #00b347;
   
}


/*contenido del paso*/
.contenido-paso{
    background-color: #00b347;
    
}








/*resultados del busqcados*/
.fila-resultados{
    padding-bottom: 150px;
}



/*carta alimento receta*/
.alimentoReceta-contenido{
    background-color: #00b347;
    color: #FFFFFF;
    padding:15px;
    border-radius:10px;

}


/*imagen del ingrediente*/
.imagen-ingrediente{
    width:  250px;
    height: 250px;
    object-fit: cover;
    border-radius:10px;
}




/*relleno*/
.relleno{
    height:100px;
    background-color: #00b347;
}


/*titulos*/
.titulo{
    background-color: #00b347;
    color:#FFFFFF;
    padding:5px;
    border-radius: 10px;
}






/*titulos campos*/
.tituloContenedor p {
    background-color: #00b347;
    color:#FFFFFF;
    padding:5px;
    border-radius: 10px;
    display: inline-block;
}


/*contendedores*/
.pasos, .informacion,.ingredientes{
    background-color:#FFFFFF;
    border-radius: 10px;
}

