<table class="table">
    <thead>
      <tr>
        <!--elemento sde la tabla-->
        <th scope="col">id</th>
        <th scope="col">nombre</th>
        <th scope="col">calorias</th>
        <th scope="col">cantidad</th>
        <th scope="col">medida</th>
        <th scope="col">acciones</th>
        
        
      </tr>
    </thead>
    <tbody>
      <!--por cada limento-->
        <tr *ngFor="let alimento of alimentos" (click)="detallesAlimento(alimento.id)">
          <!--muestro sus atributos-->  
          <th>{{alimento.id}}</th>
            <td>{{alimento.nombre}}</td>
            <td>{{alimento.calorias}}</td>
            <td>{{alimento.cantidad}}</td>
            <td>{{alimento.medida}}</td>
           
            <td> 
              
              <!--botones elimnar y editar-->
              <button class="btn btn-primary" (click)="editarAlimento(alimento.id)">editar</button>
              <button class="btn btn-danger ms-3" (click)="openDialog(alimento.id,alimento.nombre,$event)">eliminar</button>
            
                
            
             
                </td>
           
          </tr>
      
      
    </tbody>
  </table>
