<div class="contenido-comentario d-flex h-100 row">


    <!--imagen-->
    <div class="col-md-3 col-sm-12 d-flex justify-content-center">
        <div class="imagen-publicacion">
            <img [src]="comentario.fotoRuta"
                class="imagen-usuario">
        </div>
    </div>




    <!--contenido del comentario-->
    <div class="col-md-9 col-sm-12 d-flex justify-content-center ">
        <div class="texto-comentario ps-2">

            <!--enlace al usuario-->
            <h3 class="enlace-usuario text-center" (click)="detalleUsuario(comentario.idUsuario)">
                {{comentario.usernameUsuario}}
            </h3>

            <!--texto del comentario-->
            <p class="text-center">{{comentario.comentario}}</p>
        </div>
    </div>
</div>

