<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>


  <!--barra navegacion-->
  <nav class="navbar navbar-expand-lg navegacion">
    <div class="container-fluid">

      <!--icono en el navbar-->

      <app-icono-aplicacion></app-icono-aplicacion>


      <!--custon toggler para cambiar el icono de la hamaburguesa su color-->
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <!--<span class="navbar-toggler-icon"></span>-->
        <i class="fa-solid fa-bars icono-barra"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto d-flex align-items-center">
          <!--enlace-->
          <li class="nav-item">
            <a class="nav-link mx-3 enlace-navbar" routerLink="/identificacionusuario">Identificación</a>
          </li>
          <!--enlace-->
          <li class="nav-item">
            <a class="nav-link mx-3 enlace-navbar" routerLink="/registrousuario">Registro</a>
          </li>

        </ul>
      </div><!--div botones-->
    </div><!--div conentendor barra-->
  </nav><!--barra nav-->







  <!--contenedor descripcion-->
  <div class="banner">

    <div class="container h-100">
      <div class="row h-100 d-flex justify-content-center align-items-center">
        <div class="col-md-6 col-sm-12">
          <div class="texto-banner  p-3  d-flex justify-content-center align-items-center ">
            <h1 class="text-center">Foodbook, <br> red social para compartir experiencias con recetas de cocina y alimentos</h1>
          </div>
        </div>
      </div>
    </div><!--contenedor-->

  </div><!--banner-->







  <!--about-->
  <div class="about">
    <div class="container h-100">
      <h1 class="text-center">¿Qué puedo hacer en FoodBook?</h1>
      <div class="row h-100  ">





        <!--carta-->
        <div class="col-12 col-md-6 col-lg-3  mt-4">
          <div class="columna-about d-flex flex-column justify-content-start align-items-center h-100">
            <!--todas las imagenes mismo tamano-->
            <i class="fa-solid fa-magnifying-glass icono-cartas"></i>
            <h3 class="text-center">Buscar recetas y alimentos y sus beneficios</h3>
            <p class="text-center">Busca recetas con los pasos a seguir para su preparación o las características de un
              alimento
            </p>
          </div>

        </div>





        <!--carta-->
        <div class="col-12 col-md-6 col-lg-3  mt-4">
          <div class="columna-about d-flex flex-column justify-content-start align-items-center h-100">
            <i class="fa-solid fa-circle-plus icono-cartas"></i>
            <h3 class="text-center">Crear recetas para que todos las vean</h3>
            <p class="text-center">Crea tus recetas personales para que todos los usuarios puedan ver sus detalles y
              prepararlas</p>
          </div>

        </div>





        <!--carta-->
        <div class="col-12 col-md-6 col-lg-3  mt-4 ">
          <div class="columna-about d-flex flex-column justify-content-start align-items-center h-100">
            <i class="fa-solid fa-heart icono-cartas"></i>
            <h3 class="text-center">Guardar recetas favoritas para preparar</h3>
            <p class="text-center">Guarda tus recetas favoritas para cuando quieras prepararlas y accede rápidamente a
              ellas</p>
          </div>

        </div>


        <!--carta-->
        <div class="col-12 col-md-6 col-lg-3  mt-4">
          <div class="columna-about d-flex flex-column justify-content-start align-items-center h-100">
            <i class="fa-sharp fa-solid fa-utensils icono-cartas"></i>
            <h3 class="text-center">Publicar experiencias en la cocina</h3>
            <p class="text-center">Publica tus experiencias con una receta o alimento y así los demás usuarios las
              conozcan y se beneficien</p>
          </div>

        </div>











      </div><!--row-->
    </div><!--container-->


    <div class="registro-aviso">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 d-flex justify-content-center">
            <h1 class="titulo-registro">Regístrate ya en FoodBook y empieza a crear recetas y publicaciones.</h1>
          </div>
          <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
            <a class="boton-registro-descripcion" routerLink="/registrousuario">REGISTRARSE</a>
          </div>
        </div>
      </div>
    </div>




  </div><!--about-->


  <app-footer></app-footer>


</body>

</html>
