.formulario{
    background-color: #FFFFFF;
    padding:30px;
    margin-top:30px;
    margin-bottom: 30px;
}

.exterior{
    border-radius:10px;
    background-color:#00b347 ;
}

.alerta{
    color:red;
}