<div class="resultado h-100">



    <div class="imagen-alimento">
        <img src="https://res.cloudinary.com/chemareact/image/upload/v1676133243/cld-sample-4.jpg"
            width="75%" height="75%">
    </div>




    <div class="contenido">
        <h1>{{receta.titulo}}</h1>
        <h3> {{receta.tiempo}} minutos</h3>
        <h3>{{receta.username}}</h3>
    </div>

    
    <div class="boton" *ngIf="mostrarEliminar">
        <button  class="btn btn-danger eliminar" (click)="eliminarFavorita(receta.id, $event)">Eliminar</button>
    </div>

</div>
