<div class="container mt-3">

    <!--titulo-->
    <div class="row">
        <div class="col">
            <h1 class="text-center titulo">BUSCAR ALIMENTO</h1>
        </div>
    </div><!--row-->

    <!--buscador-->
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-sm-12">

            <div class="contenido-buscador">

                <!--formulario-->
                <form (ngSubmit)="busqueda()" [formGroup]="formularioNombre">
                    <div class="mb-3 d-flex">


                        <!--entrada-->
                        <input type="text" formControlName="nombre" class="form-control"
                            placeholder="Introduce nombre del alimento" name="nombre">

                        <!--boton-->
                        <button type="submit" class="btn btn-success ms-2"
                            [disabled]="formularioNombre.invalid">Buscar</button>

                    </div>


                    <!--alerta-->
                    <div *ngIf="formularioNombre.get('nombre')?.touched && formularioNombre.get('nombre')?.errors?.['required']"
                        class="alerta">Introduce un nombre para buscar</div>

                </form>
            </div>
        </div><!--col-->
    </div><!--row-->
</div><!--container-->



<!--resultados-->
<div class="container pb-4">
    <div class="row mb-3 ">
        <!--resultado alimentos-->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-5" *ngFor="let alimento of alimentos"
            (click)="detallesAlimento(alimento.id)">

            <!--alimento: anadir, comprar y seleccionar, pongo los parametros que recibo del buscador, cuando me llegue el evento de la carta de que se ha marcado aviso con el id ,llamo evento del padre cuando se produce evento en hijo-->
            <app-carta-alimento [alimento]="alimento" [mostrarAnadir]="mostrarAnadirAlimento"
                [mostrarComprar]="mostrarComprarAlimento" [mostrarSeleccionar]="mostrarSeleccionarAlimento"
                (marcarAlimento)="marcarAlimentoBuscador(alimento.id)" (guardarAlimento)="guardarAlimentoBuscador(alimento.id,alimento.nombre, alimento.fotoRuta, alimento.medida)"></app-carta-alimento>

        </div>
    </div>

    <div class="row" *ngIf="mostrarAvisoNinguno">
        <div class="col">
            <h2 class="text-center">¡Vaya! No se ha encontrado ninguna alimento con ese nombre</h2>
        </div>
    </div>
</div>