<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>vista de admin</h1>
            <div class="col">
               <button class="btn btn-primary" (click)="crearAlimento()">crear alimento</button>
            </div>
        </div>
    </div>

    <mat-tab-group>
        <mat-tab label="Recetas"><app-tabla-receta></app-tabla-receta></mat-tab>
        <mat-tab label="Alimentos"> <app-tabla-alimento></app-tabla-alimento></mat-tab>
        <mat-tab label="Usuarios"> <app-tabla-usuario></app-tabla-usuario> </mat-tab>
        <mat-tab label="Publicaciones"> <app-tabla-publicacion></app-tabla-publicacion> </mat-tab>
      </mat-tab-group>
</body>
</html>
