<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>




  <div class="registro">
    <div class="container h-100  pb-3 pt-3">
      <div class="row h-100">





        <div class="col-12 col-md-6   d-flex flex-column justify-content-center  ">

          <div class="contenido-formulario p-5  w-100   ">
            <!--icono de la pagina-->
            <div class="d-flex justify-content-center">
              <app-icono-aplicacion></app-icono-aplicacion>
            </div>
            <h1 class="text-center">Foodbook</h1>
            <p class="text-center">Regístrate para ver todos los contenidos</p>


            <!--formulario-->
            <form (ngSubmit)="submit()" [formGroup]="contactForm">







              <div class="mb-3">


                <!--entrada email-->
                <input type="email" formControlName="email" placeholder="email" class="form-control" name="email"
                  (ngModelChange)="valueChangeEmail($event)">


                <!--alerta-->
                <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['required']"
                  class="alerta">Este campo es obligatorio</div>

                <!--alerta-->
                <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['email']"
                  class="alerta">Tiene que ser formato de email</div>

                <div *ngIf="encontradoEmail" class="alerta">Ya existe un usuario con ese email</div>



              </div>









              <div class="mb-3">


                <!--username-->
                <input type="text" formControlName="username" placeholder="username" class="form-control"
                  name="username" (ngModelChange)="valueChangeUsername($event)">


                <!--alerta-->
                <div *ngIf="contactForm.get('username')?.touched && contactForm.get('username')?.errors?.['required']"
                  class="alerta">Este campo es obligatorio</div>

                <!--alerta-->
                <div *ngIf="contactForm.get('username')?.touched && contactForm.get('username')?.errors?.['minlength']"
                  class="alerta">Debe contener al menos 5 caracteres</div>

                <!--alerta-->
                <div *ngIf="contactForm.get('username')?.touched && contactForm.get('username')?.errors?.['maxlength']"
                  class="alerta">Debe contener como maximo 50 caracteres</div>

                <div *ngIf="encontradoUsername" class="alerta">Ya existe un usuario con ese username</div>


              </div>








              <div class="mb-3">

                <!--entrada-->
                <input type="password" formControlName="password" placeholder="contraseña" class="form-control"
                  name="password">


                <!--alerta-->
                <div *ngIf="contactForm.get('password')?.touched && contactForm.get('password')?.errors?.['required']"
                  class="alerta">Este campo es obligatorio</div>



                <!--alerta-->
                <div *ngIf="contactForm.get('password')?.touched && contactForm.get('password')?.errors?.['minlength']"
                  class="alerta">Debe contener al menos 5 caracteres</div>


                <!--alerta-->
                <div *ngIf="contactForm.get('password')?.touched && contactForm.get('password')?.errors?.['maxlength']"
                  class="alerta">Debe contener como maximo 50 caracteres</div>



              </div>






              <div class="mb-3">

                <!--entrada-->
                <input type="password" formControlName="confirmPassword" placeholder="repite la contraseña"
                  class="form-control" name="confirmPassword">


                <!--alerta-->
                <div
                  *ngIf="contactForm.get('confirmPassword')?.touched && contactForm.get('confirmPassword')?.errors?.['confirmedValidator']"
                  class="alerta">Las contraseñas no coinciden</div>



              </div>






              <div class="mb-3">

                <!--entrada-->

                <input type="checkbox" formControlName="terminos" class="form-check-input">
                <label for="terminos" class="form-check-label ms-2"> Acepto los términos y condiciones</label>





              </div>





              <!--boton-->
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success" [disabled]="contactForm.invalid">Registrarse</button>
              </div>


            </form>
          </div><!--formulario-->

        </div><!--col-->









        <div class="col-12 col-md-6 d-flex flex-column justify-content-center  ">
          <div class="contenido-foto w-100  ">


            <!--imagen derecha-->
            <div class="imagen">
              <img src="https://res.cloudinary.com/chemareact/image/upload/v1680764276/Images/fondo_qax7b9.jpg" width="100%"
                height="100%">
            </div>

            <!--entrar login-->
            <div class="d-flex  justify-content-center  mt-1 cuenta">
              <p>¿tienes cuenta?</p><a routerLink="/identificacion" class="enlace-entrar">Entrar</a>
            </div>


          </div><!--foto-->
        </div><!--col-->


      </div><!--row-->
    </div><!--container-->
  </div><!--registro-->


  <app-footer></app-footer>

</body>

</html>