

.enlace-usuario:hover{
    color:#00722e;
    text-decoration:underline;
    cursor:pointer;
}


.contenido-orden{
    background-color: #FFFFFF;
    border:3px solid #00b347;
   
}

.contenido-paso{
    background-color: #00b347;
}




