<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container mt-5">
        <div class="row">


            <!--foto-->
            <div class="col-lg-6 col-md-12">
                <div class="imagen-publicacion">
                    <img [src]="alimento.fotoRuta"
                        width="100%" height="100%">
                </div>
            </div>




            <!--datos principales-->
            <div class="col-lg-6 col-md-12">
                <h1 >{{alimento.nombre}}</h1>
                <p>{{alimento.calorias}} calorias por {{alimento.cantidad}} {{alimento.medida}}</p>
                <a href="{{alimento.enlace}}" class="btn btn-success" target="_blank">comprar</a>
            </div>          
        </div>





    </div>












    <div class="container mt-5">


        
        <!--descripcion-->
        <div class="row">
            <h3>descripcion</h3>
            <div class="col">
                <p>{{alimento.descripcion}}</p>
            </div>
        </div>


        <!--informacion-->
        <div class="row">
            <h3>informacion nutricional</h3>
            <div class="col d-flex justify-content-around">
                <p>{{alimento.grasas}} grasas</p>
                <p>{{alimento.carbohidratos}} carbohidratos</p>
                <p>{{alimento.proteinas}} proteinas</p>
             
            </div>
        </div>


        <!--grafico-->
        <div class="row">
            <div class="col  ">
              
                <canvas id="myChart"></canvas>
            </div>
        </div>




      
    </div>





    <div class="container mt-5">
        <div class="row ">
            <h1 class="text-center">Publicaciones</h1>
            <!--publicaciones resultado-->
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3  " *ngFor="let publicacion of publicaciones" (click)="detallePublicacion(publicacion.id)">
               <!--publicacion-->
                <app-carta-publicacion [publicacion]="publicacion"></app-carta-publicacion>

            </div>
        </div>
    </div>





    
</body>
</html>
