<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>


  <!--barra navegacion-->
  <nav class="navbar navbar-expand-lg navegacion">
    <div class="container-fluid">

      <a class="navbar-brand icono" routerLink="/principal">Foodbook</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ms-auto w-25 d-flex justify-content-around">

          <li class="nav-item">
            <a class="nav-link enlace m-2 text-center" routerLink="/registro">Registro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link enlace m-2 text-center" routerLink="/identificacion">Identificacion</a>
          </li>


        </ul>
      </div>
    </div>
  </nav>







  <!--contenedor descripcion-->
  <div class="banner">

    <div class="container h-100">
      <div class="row h-100">
        <div class="col h-100 d-flex justify-content-center align-items-center">
          <div class="texto-banner  p-3 w-50 d-flex justify-content-center align-items-center ">
            <h1 class="text-center">Foodbook <br> la red social para compartir experiencias con recetas de cocina y
              alimentos</h1>
          </div>
        </div>
      </div>
    </div>

  </div>








  <div class="about">
    <div class="container h-100">
      <h1 class="text-center">¿que puedo hacer en FoodBook?</h1>
      <div class="row h-100  ">






        <div class="col-12 col-md-6 col-lg-3  mt-4">
          <div class="columna-about d-flex flex-column justify-content-start align-items-center h-100">
            <img src="./../../assets/fondoFoodBook.jpg" width="100" height="100">
            <h3 class="text-center">Buscar recetas y alimentos y sus beneficios</h3>
            <p class="text-center">Busca recetas con los pasos a seguir para su preparacion o las caracteristicas de un alimento
            </p>
          </div>

        </div>






        <div class="col-12 col-md-6 col-lg-3  mt-4">
          <div class="columna-about d-flex flex-column justify-content-start align-items-center h-100">
            <img src="./../../assets/fondoFoodBook.jpg" width="100" height="100">
            <h3 class="text-center">Crear recetas para que todos las vean</h3>
            <p class="text-center">Crea tus recetas personales para que todos los usuarios puedan ver sus detalles y preprararlas</p>
          </div>

        </div>






        <div class="col-12 col-md-6 col-lg-3  mt-4 ">
          <div class="columna-about d-flex flex-column justify-content-start align-items-center h-100">
            <img src="./../../assets/fondoFoodBook.jpg" width="100" height="100">
            <h3 class="text-center">Guarda las recetas que mas te gusten</h3>
            <p class="text-center">Guarda tus recetas favoritas para cuando quieras prepararlas acceder rapidamente</p>
          </div>

        </div>



        <div class="col-12 col-md-6 col-lg-3  mt-4">
          <div class="columna-about d-flex flex-column justify-content-start align-items-center h-100">
            <img src="./../../assets/fondoFoodBook.jpg" width="100" height="100">
            <h3 class="text-center">Publica experiencias en la cocina</h3>
            <p class="text-center">Publicar tus experiencias con una receta o alimento y asi los demas usuarios las conozcan y se beneficien</p>
          </div>

        </div>











      </div>
    </div>




  </div>

</body>

</html>