<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1 class="text-center">crear receta</h1>
        <div class="row">
            <div class="col">
                <form (ngSubmit)="guardarReceta()" [formGroup]="formularioReceta">
                    <div class="mb-3">
                        <label for="titulo" class="form-label">titulo</label>
                        <input type="text" formControlName="titulo" class="form-control" name="titulo">
                        <div *ngIf="formularioReceta.get('titulo')?.touched && formularioReceta.get('titulo')?.errors?.['required']"
                            class="alerta">This field is required.</div><!--muestro alertas-->

                    </div>
                    <div class="mb-3">
                        <label for="resumen" class="form-label">resumen</label>
                        <input type="text" formControlName="resumen" class="form-control" name="resumen">
                        <div *ngIf="formularioReceta.get('resumen')?.touched && formularioReceta.get('resumen')?.errors?.['required']"
                            class="alerta">This field is required.</div><!--muestro alertas-->

                    </div>
                   
                    <div class="mb-3">

                        <input type="number" placeholder="tiempo en minutos" formControlName="tiempo"
                            class="form-control" name="tiempo">
                        <div *ngIf="formularioReceta.get('tiempo')?.touched && formularioReceta.get('tiempo')?.errors?.['required']"
                            class="alerta">This field is required.</div><!--muestro alertas-->

                    </div>


                    <div class="mb-3">

                        <select formControlName="dificultad" id="cars">
                            <option value="facil">facil</option>
                            <option value="medio">medio</option>
                            <option value="dificil">dificil</option>
                          
                          </select>
                        <div *ngIf="formularioReceta.get('dificultad')?.touched && formularioReceta.get('dificultad')?.errors?.['required']"
                            class="alerta">This field is required.</div><!--muestro alertas-->

                    </div>

                    <div class="mb-3 d-flex flex-column">
                        <input type="file" (change)="selectFile($event)" />
                       
                    </div>

                    <div class="fijo  d-flex flex-column align-items-center justify-content-center">
                        <button type="submit" class="btn btn-primary" [disabled]="formularioReceta.invalid">Guardar
                            Receta</button>
                            <p *ngIf="alimentosCantidadesCero">no se pueden tener ingredientes con cantidad 0 gramos</p>
                            <p *ngIf="sinImagen">por favor añade una imagen</p>
                        </div>

                </form>
            </div>
        </div>

    </div>










    <div class="container">
        <h1 class="text-center">lista de ingredientes</h1>
        <div class="row" *ngIf="!ingredientesVacio">






            <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let alimentoReceta of alimentosReceta">
                <div class="alimentoReceta-contenido">

                    <div class="imagen-alimento">
                        <img [src]="alimentoReceta.fotoRuta"
                            width="75%" height="75%">
                    </div>



                    <div class="alimentoReceta-contenido-texto">
                        <h1>{{alimentoReceta.nombreAlimento}}</h1>

                        <form>
                            <p>cantidad en {{alimentoReceta.medida}}</p>
                            <input type="number" [(ngModel)]="alimentoReceta.cantidad" class="form-control"
                                name="tiempo" (keyup)="comprobacionCero($event)">
                        </form>
                        <button class="btn btn-danger" (click)="eliminarAlimento(alimentoReceta.idAlimento)">eliminar ingrediente</button>


                    </div>

                </div>
            </div>

        </div>







        <div class="row" *ngIf="ingredientesVacio">
            <div class="col">
                <h2>debes anadir algun ingrediente</h2>
            </div>

        </div>

    </div>
    















    <div class="container">
        <div class="row">
            <h1>busca ingredientes</h1>
            <div class="col-12 d-flex justify-content-center">
                <div class="barra-busqueda w-50 ">

                    <form (ngSubmit)="busqueda()" [formGroup]="formularioNombre">
                        <div class="mb-3 d-flex">

                            <input type="text" formControlName="nombre" class="form-control"
                                placeholder="nombre del alimento" name="nombre">

                            <button type="submit" class="btn btn-primary"
                                [disabled]="formularioNombre.invalid">Buscar</button>

                        </div>
                        <div *ngIf="formularioNombre.get('nombre')?.touched && formularioNombre.get('nombre')?.errors?.['required']"
                            class="alerta">This field is required.</div><!--muestro alertas-->

                    </form>
                </div>
            </div>
        </div>
    </div>







    <div class="container ">
        <div class="row resultado-fila ">
            <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let alimento of alimentos">

               <app-carta-alimento [alimento]="alimento" [mostrarAnadir]="true" (guardarAlimento)="anadirAlimento(alimento.id,alimento.nombre,alimento.medida,alimento.fotoRuta)"></app-carta-alimento>

            </div>
        </div>
    </div>

</body>

</html>