<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <app-barra-navegacion [fotoRuta]="currentUser.fotoRuta"></app-barra-navegacion>

    <div class="container mt-5">
        <div class="row">


            <!--imagen-->
            <div class="col-md-6 col-sm-12 ">
                <div class="imagen-receta d-flex justify-content-center ">
                    <img [src]="usuario.fotoRuta" class="imagen-usuario">
                </div>
            </div>




            <!--su nombre-->
            <div class="col-md-6 col-sm-12">

                <div class="row">
                    <!--usuario-->
                    <div class="col-md-6 col-sm-12 d-flex justify-content-center align-items-center ">
                        <h1>{{usuario.username}}</h1>
                    </div>

                    <!--botones seguimiento-->
                    <div class="col-md-6 col-sm-12 d-flex justify-content-center align-items-center ">

                        <div class="boton d-flex flex-column align-items-center  ">
                            <button class="btn btn-success" *ngIf="botonSeguimiento"
                                (click)="seguirUsuario(usuario.id)">Seguir usuario</button>
                            <button class="btn btn-danger" *ngIf="!botonSeguimiento"
                                (click)="dejarSeguir(usuario.id)">Dejar de seguir</button>
                        </div>
                    </div>
                </div>



                <!--seguimiento-->
                <div class="row ">
                    <div class="col-md-6 col-sm-12  mt-3 d-flex justify-content-center align-items-center">



                        <!--numero seguidos-->
                        <div class=" d-flex flex-column align-items-center contenedor-numero w-75">
                            <h3>{{seguidos}}</h3>
                            <h3>seguidos</h3>
                        </div>


                    </div>

                    <div class="col-md-6 col-sm-12  mt-3 d-flex justify-content-center align-items-center">
                        <!--numero seguidores-->
                        <div class=" d-flex flex-column align-items-center contenedor-numero w-75">
                            <h3>{{seguidores}}</h3>
                            <h3>seguidores</h3>
                        </div>
                    </div>
                </div>



                <!--descripcion-->
                <div class="row mt-2">
                    <div class="col">
                        <p class="text-center">{{usuario.descripcion}}</p>
                    </div>
                </div>

            </div>

        </div><!--row-->
    </div><!--container-->















    <div class="container mt-5 pb-5">

        <!--titulo-->
        <div class="row">
            <div class="col">
                <h1 class="text-center titulo">PUBLICACIONES</h1>
            </div>
        </div>



        <!--publicaicones-->
        <div class="row ">

            <!--publicaiones-->
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3 mb-5" *ngFor="let publicacion of publicaciones"
                (click)="detallePublicacion(publicacion.id)">

                <!--publicacion cocnreta-->
                <app-carta-publicacion [publicacion]="publicacion"></app-carta-publicacion>

            </div>
        </div>

        <!--ninguna publicacion-->
        <div class="row" *ngIf="mostrarAvisoNinguna">
            <div class="col">
                <h2 class="text-center">Este usuario no ha realizado ninguna publicación</h2>
            </div>
        </div>
    </div><!--container-->


</body>

</html>