


/*imagen del usuario*/
.imagen-usuario{
    width:  250px;
    height: 250px;
    object-fit: cover;
    border-radius:50%;
}


/*titulo*/
.titulo{
    border:5px solid #00722e;
    border-radius:10px;
    color:#00722e;
}

/*seguidores y seguidos*/
.contenedor-numero{
    background-color: #00b347;
    color:#FFFFFF;
    padding:15px;
    border-radius:10px;
}

.margin-arriba{
    margin-top:150px;
}