.contenido-seguidor{
    padding:10px;
    background-color: #00b347;
    color:#FFFFFF;
    border:10px solid #00b347;
}

.contenido-seguidor:hover{
    background-color: #FFFFFF;
    color:#00b347;
}

.titulo{
    border:5px solid #00722e;
    border-radius:10px;
    color:#00722e;
}

.enlace-busqueda{
    color:#FFFFFF !important; 
    background-color: #00722e;
    border-radius: 10px;
    text-decoration: none;
    padding:10px;
}
