<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <div class="container">

        <!--titulo-->
        <div class="row">
            <div class="col">
                <h1 class="text-center titulo">RECETAS FAVORITAS</h1>
            </div>
        </div>



        <!--aviso ninguna-->
        <div class="row" *ngIf="mostrarAvisoFavoritas">
            <div class="col">
                <h2 class="text-center">No tienes ninguna receta favorita. ¡Añade alguna receta favorita!</h2>
                <div class="boton d-flex justify-content-center">
                    <a class="enlace-busqueda" routerLink="/buscarReceta">Buscar receta</a>
                </div>
            </div>
        </div>

        <!--cartas recetas-->
        <div class="row">
            <!--todas las recetas-->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-5" *ngFor="let recetaFavorita of recetasFavoritas"
                (click)="detallesReceta(recetaFavorita.id)">
                <!--receta concreta-->
                <app-carta-receta [receta]="recetaFavorita" [mostrarEliminar]="true"
                    (actualizarFavoritas)="buscarFavoritas()"></app-carta-receta>

            </div>

        </div><!--row-->

        
    </div><!--container-->

</body>

</html>