<div class="resultado h-100">

    <!--imagen-->
    <div class="imagen-alimento">
        <img [src]="alimento.fotoRuta"
            width="100%" height="100%">
    </div>



    <!--texto alimento-->
    <div class="contenido-alimento">
        <h3 >{{alimento.nombre}}</h3>
        <p>{{alimento.calorias}}calorias </p>
    </div>



    <!--boton anadir-->
    <div class="boton-anadir" *ngIf="mostrarAnadir">
        <button (click)="anadirAlimento(alimento.id,alimento.nombre)" class="boton">anadir</button>
    </div>


    <!--boton seleccionar-->
    <div class="boton-seleccionar" *ngIf="mostrarSeleccionar">
        <button (click)="seleccionarAlimento(alimento.id)" class="boton">Seleccionar</button>
    </div>


    <!--boton compra-->
    <div class="compra" *ngIf="mostrarComprar">
       
        <a class="boton" (click)="clickCompra($event)" href="{{alimento.enlace}}" target="_blank">comprar</a>
    </div>
</div>
