<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <div class="container mt-3">
        <div class="row">
            <h1 class="text-center">Buscar alimento</h1>
            <div class="col-12 d-flex justify-content-center">

                <div class=" w-50 ">

                    <!--formulario-->
                    <form (ngSubmit)="busqueda()" [formGroup]="formularioNombre">
                        <div class="mb-3 d-flex">


                             <!--entrada-->
                            <input type="text" formControlName="nombre" class="form-control"
                                placeholder="nombre del alimento" name="nombre">

                                 <!--boton-->
                            <button type="submit" class="btn btn-success ms-2"
                                [disabled]="formularioNombre.invalid">Buscar</button>

                        </div>


                         <!--alerta-->
                        <div *ngIf="formularioNombre.get('nombre')?.touched && formularioNombre.get('nombre')?.errors?.['required']"
                            class="alerta">Introduce un nombre para buscar</div>

                    </form>
                </div>
            </div>
        </div>
    </div>




    <div class="container">
        <div class="row mb-3 ">
            <!--resultado alimentos-->
            <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let alimento of alimentos"
                (click)="detallesAlimento(alimento.id)">

                 <!--alimento-->
                <app-carta-alimento [alimento]="alimento" [mostrarAnadir]="false" [mostrarComprar]="true"></app-carta-alimento>

            </div>
        </div>
    </div>

</body>

</html>