<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    
    <app-barra-navegacion [fotoRuta]="usuario.fotoRuta"></app-barra-navegacion>

    <div class="container margin-arriba">





        <div class="row  ">




            <!--imagen-->
            <div class="col-md-3 col-sm-12 ">
                <div class="imagen-receta d-flex justify-content-center ">
                    <img [src]="usuario.fotoRuta" class="imagen-usuario">
                </div>
            </div>





            
            <div class="col-md-9 col-sm-12">
                <!--nombre-->
                <div class="row">
                    <div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
                        <h1>{{usuario.username}}</h1>
                    </div>

                    <div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
                        <button class="btn btn-success mb-2" (click)="verFavoritas()">Mis recetas favoritas</button>

                    </div>

                    <div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
                        <button class="btn btn-success" (click)="editarPerfil()">Editar perfil</button>

                    </div>
                </div>


               <!--numeros seguidos y seguidores-->
                <div class="row ">
                    <div class="col-md-6 d-flex justify-content-center mt-3">
                         <!--seguidos-->
                        <div class="contenedor-numero d-flex flex-column align-items-center w-75" (click)="verSeguidos()">
                            <h3>{{numeroSeguidos}}</h3>
                            <h3>seguidos</h3>
                        </div>
                    </div>


                    <!--seguidores-->
                    <div class="col-md-6 d-flex justify-content-center mt-3">
                        
                        <div class="contenedor-numero d-flex flex-column align-items-center w-75 " (click)="verSeguidores()">
                            <h3>{{numeroSeguidores}}</h3>
                            <h3>seguidores</h3>
                        </div>
                    </div>
                </div>


                <!--desripcion-->
                <div class="row mt-4">
                    <div class="col">
                        <p class="text-center">{{usuario.descripcion}}</p>
                    </div>
                </div>

            </div><!--col-->




         
        </div><!--row-->
    </div><!--container-->













    <div class="container mt-5">
        <!--titulo-->
        <div class="row">
            <div class="col">
                <h1 class="text-center titulo">PUBLICACIONES</h1>
            </div>
        </div>


        <!--aviso-->
        <div class="row mb-3" *ngIf="mostrarAvisoPublicaciones">
            <div class="col d-flex flex-column justify-content-center">
                <h2 class="text-center">¡Vaya! No has realizado ninguna publicación, puedes crear una ahora</h2>
                <div class="boton d-flex justify-content-center">
                    <a class="enlace-busqueda" routerLink="/anadirPublicacion">Crear publicación</a>
                  </div>
            </div>
        </div>


        <!--publicaciones-->
        <div class="row ">
            


            <!--publicaciones todas-->
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3 mb-5" *ngFor="let publicacion of publicaciones"
                (click)="detallePublicacion(publicacion.id)">
                <!--publicacion concreta-->
                <app-carta-publicacion [publicacion]="publicacion"></app-carta-publicacion>

            </div>
        </div><!--row-->
    </div><!--container-->

    <app-footer></app-footer>

</body>

</html>