<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>usuarios seguidos</h1>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let seguido of usuariosSeguidos" (click)="detallesUsuario(seguido.idSeguidor)">



                <div class="contenido-seguidor">


                    <div class="imagen-receta ">
                        <img src="https://res.cloudinary.com/chemareact/image/upload/v1676133243/cld-sample-4.jpg"
                            width="100%" height="100%">
                    </div>



                    <div class="nombre">
                        <h2>{{seguido.username}}</h2>
                    </div>

                    <div class="boton">
                        <button  class="btn btn-danger" (click)="eliminarSeguimiento(seguido.idSeguido,$event)">Eliminar</button>
                    </div>



                </div>
            </div>

        </div>
    </div>



   
    
</body>
</html>
