<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container mt-3">
        <div class="row">

            <!--imagen-->
            <div class="col-lg-6 col-md-12">
                <div class="imagen-publicacion d-flex justify-content-center">
                    <img [src]="publicacion.fotoRuta" class="imagen">
                </div>
            </div>


            <!--informacion imprtante-->
            <div class="col-lg-6 col-md-12">
                <!--titulo-->
                <div class="row mt-2">
                    <div class="col">
                        <h1>{{publicacion.titulo}}</h1>
                    </div>
                </div>


                <!--usuario-->
                <div class="row mt-2">
                    <div class="col d-flex align-items-center carta-informacion">
                        <img [src]="publicacion.fotoCreador" class="imagen-usuario">
                        <h3 class="enlace-usuario ms-3" (click)="detalleUsuario(publicacion.idCreador)">
                            {{publicacion.usernameUsuario}}</h3>
                    </div>
                </div>


                <!--titulo receta-->
                <div class="row mt-2">
                    <div class="col d-flex align-items-center carta-informacion">
                        <img [src]="publicacion.fotoReceta" class="imagen-receta" *ngIf="!tieneAlimento">
                        <img [src]="publicacion.fotoAlimento" class="imagen-receta" *ngIf="tieneAlimento">
                        <h3 class="enlace-usuario ms-3" (click)="detalleReceta(publicacion.idReceta)" *ngIf="!tieneAlimento">
                            {{publicacion.tituloReceta}}
                        </h3>
                        <h3 class="enlace-usuario ms-3" (click)="detalleAlimento(publicacion.idAlimento)" *ngIf="tieneAlimento">
                            {{publicacion.nombreAlimento}}
                        </h3>
                    </div>
                </div>




            </div>




        </div><!--row-->



    </div><!--container-->




    <div class="container mt-5">

        <!--titulo-->
        <div class="row d-flex justify-content-center">
            <div class="col ">
                <div class="titulo">
                    <h1 class="text-center ">DESCRIPCIÓN</h1>
                </div>
            </div>
        </div>


        <!--descripcion-->
        <div class="row mt-2">
            <div class="col">
                <p>{{publicacion.descripcion}}</p>
            </div>
        </div>



        <!--titulo-->
        <div class="row d-flex justify-content-center mt-5">
            <div class="col ">
                <div class="titulo">
                    <h1 class="text-center ">FECHA DE PUBLICACIÓN</h1>
                </div>
            </div>
        </div>


        <!--fecha-->
        <div class="row mt-2">
            <div class="col">
                <p>{{fechaTexto}}</p>
            </div>
        </div>


    </div><!--container-->






    <!--comentarios-->
    <div class="container mt-5 pb-5">
        <!--titulo-->
        <div class="row d-flex justify-content-center">
            <div class="col ">
                <div class="titulo">
                    <h1 class="text-center ">COMENTARIOS</h1>
                </div>
            </div>
        </div>


        <!--ningun comentario-->
        <div class="row mt-2" *ngIf="mostrarMensajeNinguno">
            <div class="col">
                <h2 class="text-center">¡Vaya! No hay ningún comentario. ¡Sé el primero en comentar!</h2>
            </div>
        </div>





        <!--resultado comentarios-->
        <div class="row mt-2">
            <div class="col-md-6 col-sm-12 " *ngFor="let comentario of comentarios">
                <div class=" h-100 p-3">
                    <!--comentario-->
                    <app-carta-comentario [comentario]="comentario"></app-carta-comentario>
                </div>


            </div>
        </div>



        <!--titulo-->
        <div class="row d-flex justify-content-center mt-5">
            <div class="col ">
                <div class="titulo">
                    <h1 class="text-center ">DEJAR UN COMENTARIO</h1>
                </div>
            </div>
        </div>


        <div class="row mt-2 d-flex  justify-content-center">

            <div class="col-md-6 col-sm-12 ">
                
                <div class="formulario w-100">
                    <!--formulario-->
                    <form (ngSubmit)="guardarComentario()" [formGroup]="formularioComentario">

                        <div class="mb-3">

                            <!--entrada-->
                            <label for="comentarioNuevo" class="form-label">Escribe tu comentario</label>
                            <textarea formControlName="comentarioNuevo" class="form-control"
                                name="comentarioNuevo"></textarea>
                        </div>

                        <!--alerta-->
                        <div *ngIf="formularioComentario.get('comentarioNuevo')?.touched && formularioComentario.get('comentarioNuevo')?.errors?.['required']"
                            class="alerta">Este campo es obligatorio</div>

                        <!--boton-->
                        <div class="w-100 d-flex justify-content-center">
                            <button type="submit" class="btn btn-success"
                                [disabled]="formularioComentario.invalid">Guardar
                                comentario</button>
                        </div>

                    </form>
                </div><!--formulario-->
            </div><!--col-->
        </div><!--row-->



    </div><!--container-->

</body>

</html>