<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="exterior pt-4 pb-4">
        <form (ngSubmit)="guardarAlimento()" [formGroup]="formularioAlimento">
            <div class="container informacion">
                <div class="row">
                    <div class="col">
                        <!--formulario-->



                            <!--textos-->
                            <h1 class="text-center">CREAR ALIMENTO</h1>
                            <h2 class="text-center">Información general</h2>
                            <p class="text-center fw-bold">En primer lugar introduce la información básica del alimento</p>



                            <div class="mb-3">

                                <!--nombre-->
                                <label class="titulo mb-2" >Nombre</label>
                                <input type="text" formControlName="nombre" class="form-control" name="nombre" (ngModelChange)="valueChange($event)">

                                <!--alerta-->
                                <div *ngIf="formularioAlimento.get('nombre')?.touched && formularioAlimento.get('nombre')?.errors?.['required']"
                                    class="alerta">Este campo es obligatorio</div>

                            </div>








                            <div class="mb-3">



                                <!--descripcion-->
                                <label class="titulo mb-2">Descripción</label>
                                <textarea formControlName="descripcion" class="form-control"
                                    name="descripcion" (ngModelChange)="valueChange($event)"></textarea>


                                <!--alerta-->
                                <div *ngIf="formularioAlimento.get('descripcion')?.touched && formularioAlimento.get('descripcion')?.errors?.['required']"
                                    class="alerta">Este campo es obligatorio</div><!--muestro alertas-->

                            </div>





                            <div class="mb-3">

                                <!--enlace-->
                                <label class="titulo mb-2">Enlace donde comprarlo</label>
                                <input type="text" formControlName="enlace" class="form-control" name="nombre" (ngModelChange)="valueChange($event)">

                                <!--alerta-->
                                <div *ngIf="formularioAlimento.get('enlace')?.touched && formularioAlimento.get('enlace')?.errors?.['required']"
                                    class="alerta">Este campo es obligatorio</div><!--muestro alertas-->

                            </div>



                            <div class="mb-3 flex-column">
                                <!--foto-->
                                <div class="tituloContenedor">
                                    <p>Foto</p>
                                </div>
                                <img [src]="alimentoEdicion.fotoRuta" *ngIf="operacion=='editar'" class="imagen-alimento">
                                <input type="file" (change)="selectFile($event)" />
                                <div *ngIf="alertaFoto" class="alerta">Por favor selecciona una foto válida</div>
                                <p *ngIf="formatoFoto" class="alerta">Solo se pueden subir fotos en formato .jpg o .png y el tamaño máximo de la foto es de 10MB</p>
                            </div>




                           
                           




                            <!--boton-->
                            <div class="fijo d-flex flex-column align-items-center justify-content-center">
                                <div class="spiner d-flex flex-column justify-content-center align-items-center"
                                    *ngIf="mensajeGuardando">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <p class="text-center mt-2">Guardando alimento</p>
                                </div>
                                
                                <button type="submit" class="btn btn-success"
                                [disabled]="!activarBoton" *ngIf="!mensajeGuardando">Guardar
                                    Alimento</button>

                            </div>



                     

                    </div><!--col-->
                </div><!--row-->

            </div><!--container informacion basica-->




            <div class="container informacion mt-4">
                <div class="row">
                    <div class="col">

                        <!--textos-->
                        <h2 class="text-center">Información nutricional</h2>
                        <p class="text-center fw-bold">En segundo lugar introduce la información nutricional del alimento</p>



                        <div class="mb-3">


                            <!--catinadad-->
                            <label class="titulo mb-2">Cantidad de una porción estándar</label>
                            <input type="number" formControlName="cantidad" class="form-control" name="calorias" (ngModelChange)="valueChange($event)">

                            <!--alerta-->
                            <div *ngIf="formularioAlimento.get('cantidad')?.touched && formularioAlimento.get('cantidad')?.errors?.['required']"
                                class="alerta">Este campo es obligatorio</div><!--muestro alertas-->

                        </div>





                        <div class="mb-3 flex-column">


                            <!--medida-->
                            <div class="tituloContenedor">
                                <p>Medida de la porción estándar</p>
                            </div>
                            <select formControlName="medida" (change)="valueChange($event)">
                                <option value="gramos">gramos</option>
                                <option value="unidades">unidades</option>
                                <option value="mililitros">mililitros</option>

                            </select>

                            <!--alerta-->
                            <div *ngIf="formularioAlimento.get('medida')?.touched && formularioAlimento.get('medida')?.errors?.['required']"
                                class="alerta">Este campo es obligatorio</div><!--muestro alertas-->

                        </div>



                        <div class="mb-3">

                            <!--calorias-->
                            <label class="titulo mb-2">Calorías en la porción estándar</label>
                            <input type="number" formControlName="calorias" class="form-control" name="calorias" (ngModelChange)="valueChange($event)">


                            <!--alerta-->
                            <div *ngIf="formularioAlimento.get('calorias')?.touched && formularioAlimento.get('calorias')?.errors?.['required']"
                                class="alerta">Este campo es obligatorio</div><!--muestro alertas-->

                        </div>



                        
                        <div class="mb-3">


                            <!--grasas-->
                            <label class="titulo mb-2">Porcentaje de grasas en la porción estándar</label>
                            <input type="number" formControlName="grasas" class="form-control" name="calorias" (ngModelChange)="valueChange($event)">



                            <!--alertas-->
                            <div *ngIf="formularioAlimento.get('grasas')?.touched && formularioAlimento.get('grasas')?.errors?.['required']"
                                class="alerta">Este campo es obligatorio</div><!--muestro alertas-->

                        </div>






                        <div class="mb-3">


                            <!--carbohidratos-->
                            <label class="titulo mb-2">Porcentaje de carbohidratos en la porción estándar</label>
                            <input type="number" formControlName="carbohidratos" class="form-control"
                                name="calorias" (ngModelChange)="valueChange($event)">


                            <!--alerta-->
                            <div *ngIf="formularioAlimento.get('carbohidratos')?.touched && formularioAlimento.get('carbohidratos')?.errors?.['required']"
                                class="alerta">Este campo es obligatorio</div><!--muestro alertas-->

                        </div>





                        <div class="mb-3">


                            <!--proteinas-->
                            <label class="titulo mb-2">Porcentaje de proteínas en la porcion estándar</label>
                            <input type="number" formControlName="proteinas" class="form-control" name="calorias" (ngModelChange)="valueChange($event)">


                            <!--alerta-->
                            <div *ngIf="formularioAlimento.get('proteinas')?.touched && formularioAlimento.get('proteinas')?.errors?.['required']"
                                class="alerta">Este campo es obligatorio</div><!--muestro alertas-->

                        </div>



                    </div><!--col-->
                </div><!--row-->
            </div><!--container informacion especifica-->
        </form><!--formulario-->
    </div><!--exterior-->

    <app-footer></app-footer>

</body>

</html>