

/*contenedor exterior*/
.exterior{
   
    background-color:#00b347 ;
}


/*alertas*/
.alerta{
    color:red;
}


/*contenedor informacion*/
.informacion{
    background-color: #FFFFFF;
    padding:30px;
    border-radius:10px;
}


/*boton fijo*/
.fijo{
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    background-color: #FFFFFF;
    padding:10px;
    border-top: 2px solid black;
    z-index:9999;
}


/*titulo*/
.titulo{
    background-color: #00b347;
    color:#FFFFFF;
    padding:5px;
    border-radius: 10px;
}


/*titulos pequeños*/
.tituloContenedor p {
    background-color: #00b347;
    color:#FFFFFF;
    padding:5px;
    border-radius: 10px;
    display: inline-block;
}


/*imagen del alimento*/
.imagen-alimento{
    width:  250px;
    height: 250px;
    object-fit: cover;
    border-radius:10px;
}