<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">





        <div class="row  ">




<!--imagen-->
            <div class="col-md-3 col-sm-12 ">
                <div class="imagen-receta ">
                    <img [src]="usuario.fotoRuta"
                        width="100%" height="100%">
                </div>
            </div>





<!--nombre-->
            <div class="col-md-9 col-sm-12">
                        <h1>{{usuario.username}}</h1>          
            </div>




<div class="container">


                <div class="row">
                    <div class="col">
                        <div class=" d-flex justify-content-around align-items-center">






                            <!--seguidos-->
                            <div class="contenedor-numero d-flex flex-column align-items-center"
                                (click)="verSeguidos()">
                                <h3>{{numeroSeguidos}}</h3>
                                <h3>seguidos</h3>
                            </div>







                            <!--seguidores-->
                            <div class="contenedor-numero d-flex flex-column align-items-center"
                                (click)="verSeguidores()">
                                <h3>{{numeroSeguidores}}</h3>
                                <h3>seguidores</h3>
                            </div>







                            <!--botones-->
                            <div class="boton d-flex flex-column">
                                <button class="btn btn-success mb-2" (click)="verFavoritas()">ver favoritas</button>
                                <button class="btn btn-success" (click)="editarPerfil()">editar perfil</button>
                            </div>

                        </div>
                    </div>
                

                </div>
            </div>
        </div>
    </div>













    <div class="container mt-5">
        <div class="row ">
            <h1 class="text-center">publicaciones</h1>


            <!--publicaciones todas-->
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3 " *ngFor="let publicacion of publicaciones" (click)="detallePublicacion(publicacion.id)">
                <!--publicacion concreta-->
                <app-carta-publicacion [publicacion]="publicacion"></app-carta-publicacion>

            </div>
        </div>
    </div>

</body>

</html>