

.contenedor-numero{
    background-color: #00b347;
    color:#FFFFFF;
    padding:10px;
    border-radius:10px;
}

.contenedor-numero:hover{
    background-color: #00722e;
    transform: scale(1.05);
    cursor:pointer;
}



