.imagen{
    width:  250px;
    height: 250px;
    object-fit: cover;
   border-radius:10px;
}

.titulo{
    border:5px solid #00722e;
    border-radius:10px;
    color:#00722e;
}

.carta-calorias{
    background-color: #00b347;
    color:#FFFFFF;
    padding:20px;
    border-radius:10px;
}

.grafico{
    width:  500px;
    height: 500px;
}

