<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container pb-3">

        <!--titulo-->
        <div class="row">
            <div class="col">
                <h1 class="text-center titulo">USUARIOS SEGUIDOS</h1>
            </div>
        </div>


        <!--aviso no sigue-->
        <div class="row" *ngIf="mostrarAvisoSeguidos">
            <div class="col">
                <h2 class="text-center">¡Vaya! Actualmente no sigues a ningún usuario. ¡Empieza a seguir a alguien ahora!</h2>
                <div class="boton d-flex justify-content-center">
                    <a class="enlace-busqueda" routerLink="/buscarUsuario">Buscar Usuario</a>
                </div>
            </div>
        </div>


        <!--seguidos-->
        <div class="row mt-3">
            <!--todos los seguidos-->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-5" *ngFor="let seguido of usuariosSeguidos"
                (click)="detallesUsuario(seguido.id)">
                <!--un usuario-->
                <app-carta-usuario [usuario]="seguido" [mostrarEliminar]="true"
                    (actualizarSeguidos)="getUsuariosSeguidos()"></app-carta-usuario>



            </div>

        </div>
    </div><!--container-->





</body>

</html>