

/*buscar usuarios aviso*/
.enlace-busqueda{
    color:#FFFFFF !important; 
    background-color: #00722e;
    border-radius: 10px;
    text-decoration: none;
    padding:10px;
}


/*footer*/
.contenido-footer{
    background-color: #00b347;
    color:#FFFFFF;
    padding:50px
}






