.navegacion{
    background-color: #00b347;
}

.icono{
    color:#FFFFFF;
}

.enlace-busqueda{
    color:#FFFFFF !important; 
    background-color: #00722e;
    border-radius: 10px;
    text-decoration: none;
    padding:10px;
}

/*icono de la pagina*/
.img-icono{
    width:  150px;
    height: 50px;
    object-fit: cover;
}

.despegable{
   
    border-radius: 10px;
    background-color: #00722e;
    padding:5px;
    display:block;
    
}

.despegable:hover{
    
    background-color: #FFFFFF;
    transform: scale(1.1);
}

.despegable:hover .icono {
    color: #00722e;
}

.despegable:hover .nav-link {
    color: #00722e !important;
}

.perfil-contenedor:hover{
    background-color: #FFFFFF;
    transform: scale(1.1);
}

.perfil-contenedor:hover .nav-link{
    color: #00722e !important;
}





.contenedor-botones{
    width:50%;
}

.despegable .nav-link{
    color:#FFFFFF !important;
}

.despegable .icono{
    color:#FFFFFF;
    font-size:30px;
}




.img-perfil{
    border-radius: 50%;
    width:  50px;
    height: 50px;
    object-fit: cover;
}

.perfil-contenedor{
    background-color: #00722e;
    border-radius: 10px;
    padding:5px;
    
}

.enlace-perfil{
    color:#FFFFFF !important;
    cursor:pointer;
}

/*para cambiar color boton hamburguesa */
.custom-toggler.navbar-toggler {
    border-color: #FFFFFF;
}

 
/*paso el color rgba*/
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}






