<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

 



<app-barra-navegacion [fotoRuta]="usuario.fotoRuta"></app-barra-navegacion>





  <div class="container margin-arriba">



    <!--mensaje para ninguna-->
    <div class="row" *ngIf="mostrarMensajeNinguna">
      <div class="col">
        <h2 class="text-center">no hay ninguna publicacion de los usuarios que sigues</h2>
      </div>
    </div>

    <!--mensaje para ninguno seguido-->
    <div class="row" *ngIf="mostrarMensajeSeguidos">
      <div class="col">
        <h2 class="text-center">¡Vaya! No sigues a ningún usuario, empieza a seguir a alguien para ver sus publicaciones</h2>
        <div class="boton d-flex justify-content-center">
          <a class="enlace-busqueda" routerLink="/buscarUsuario">Buscar usuarios</a>
        </div>

      </div>
    </div>









    <div class="row">
      <!--todas las publicaciones-->
      <div class="col-lg-4 col-md-6 col-12 mb-5   " (click)="detallesPublicacion(publicacion.id)"
        *ngFor="let publicacion of publicaciones">
        <!--publicacion concreta-->
        <app-carta-publicacion [publicacion]="publicacion"></app-carta-publicacion>

      </div>
    </div>

  </div><!--container-->


  <app-footer></app-footer>








</body>

</html>