<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <!--barra-->
  <nav class="navbar navbar-expand-lg navegacion ">
    <div class="container-fluid">



      <a class="navbar-brand icono" routerLink="/muroPublicaciones">Foodbook</a>




      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>




      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto  w-75 d-flex justify-content-around">



<!--rutas con enlaces-->
          <li class="nav-item">
            <a class="nav-link enlace m-2 text-center" routerLink="/anadirPublicacion">Anadir publicacion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link enlace m-2 text-center" routerLink="/crearReceta">Crear receta</a>
          </li>


          <li class="nav-item">
            <a class="nav-link enlace m-2 text-center" routerLink="/buscarReceta">Buscar receta</a>
          </li>

          <li class="nav-item">
            <a class="nav-link enlace m-2 text-center" routerLink="/buscarAlimento">Buscar alimento</a>
          </li>

          <li class="nav-item">
            <a class="nav-link enlace m-2 text-center" routerLink="/buscarUsuario">Buscar usuario</a>
          </li>

          <li class="nav-item">
            <a class="nav-link enlace m-2 text-center" routerLink="/miPerfil">Mi perfil</a>

          </li>

        </ul>
      </div>
    </div>
  </nav>








  

  <div class="container mt-5">



<!--mensaje para ninguna-->
    <div class="row" *ngIf="mostrarMensajeNinguna">
      <div class="col">
        <h2 class="text-center">no hay ninguna publicacion de los usuarios que sigues</h2>
      </div>
    </div>









    <div class="row">
<!--todas las publicaciones-->
      <div class="col-lg-4 col-md-6 col-12 mb-5   " (click)="detallesPublicacion(publicacion.id)"
        *ngFor="let publicacion of publicaciones">
        <!--publicacion concreta-->
        <app-carta-publicacion [publicacion]="publicacion"></app-carta-publicacion>

      </div>
    </div>

  </div>








</body>

</html>