<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container mt-5">
        <div class="row">



            <!--imagem-->
            <div class="col-lg-6 col-md-12">
                <div class="imagen-receta d-flex justify-content-center">
                    <img [src]="receta.fotoRuta" class="imagen">
                </div>

            </div>




            <!--informacion importante-->
            <div class="col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-md-6 col-sm-12 d-flex align-items-center justify-content-center">
                        <h1>{{receta.titulo}}</h1>
                    </div>

                    <div class="col-md-6 col-sm-12 d-flex align-items-center justify-content-center">
                        <button class="btn btn-success" *ngIf="botonFavorita" (click)="anadirFavorita(receta.id)">Añadir
                            receta a mis favoritas</button>
                        <button class="btn btn-danger" *ngIf="!botonFavorita"
                            (click)="eliminarFavorita(receta.id)">Eliminar
                            receta de mis favoritas</button>
                    </div>
                </div>


                <!--usuario-->
                <div class="row mt-3">


                    <div class="col d-flex align-items-center carta-informacion">
                        <img [src]="receta.fotoCreador" class="imagen-usuario">
                        <h3 class="enlace-usuario ms-3" (click)="detallesUsuario(receta.idCreador)">
                            {{receta.usernameUsuario}}</h3>
                    </div>


                </div>



                <!--tiempo-->
                <div class="row mt-3">
                    <div class="col">
                        <h3>{{receta.tiempo}} minutos</h3>
                    </div>
                </div>


            </div>




        </div><!--row-->

    </div><!--container-->






    <div class="container mt-5">


        <!--titulo-->
        <div class="row">
            <div class="col">
                <div class="titulo">
                    <h1 class="text-center">RESUMEN</h1>
                </div>
                
            </div>
        </div>


        <!--resumen-->
        <div class="row mt-2">
            <div class="col">
                <p>{{receta.resumen}}</p>
            </div>
        </div>


        <!--titulo-->
        <div class="row mt-5">
            <div class="col">
                <div class="titulo">
                    <h1 class="text-center">PASOS</h1>
                </div>
                
            </div>
        </div>


        <!--pasos-->
        <div class="row">
           
            <div class="row mt-2  " *ngFor="let paso of pasos">
                

                
                <!--paso concreto-->
                <div class="col-1 d-flex contenido-orden justify-content-center align-items-center ">

                    <h3>{{paso.orden}}</h3>

                </div>
                <div class="col-11 d-flex contenido-paso">

                    <p>{{paso.paso}}</p>

                </div>
            





            </div>
        </div><!--row-->





    </div>





    <div class="container mt-5">
        <!--titulo-->
        <div class="row">
            <div class="col">
                <div class="titulo">
                    <h1 class="text-center">INGREDIENTES</h1>
                </div>
                
            </div>
        </div>




        <!--ingredientes-->
        <div class="row mt-2">





            <!--ingredientes-->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3 " *ngFor="let alimentoReceta of alimentosReceta"
                (click)="detallesAlimento(alimentoReceta.idAlimento)">
                <div class="h-100">
                    <!--ingrediente concreto-->
                    <app-carta-alimento-receta [alimentoReceta]="alimentoReceta"></app-carta-alimento-receta>
                </div>



            </div>
        </div>
    </div><!--container-->



    <div class="container mt-5 pb-5">

        <!--titulo-->
        <div class="row">
            <div class="col">
                <div class="titulo">
                    <h1 class="text-center">PUBLICACIONES</h1>
                </div>
                
            </div>
        </div>



        <!--publicaciones-->
        <div class="row ">
           


            <!--publicaciones-->
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3 mb-5 " *ngFor="let publicacion of publicaciones"
                (click)="detallePublicacion(publicacion.id)">
                <!--publicacion concreta-->
                <app-carta-publicacion [publicacion]="publicacion">
                </app-carta-publicacion>

            </div>
        </div>



        <!--aviso-->
        <div class="row" *ngIf="sinPublicaciones">
            <div class="col">
                <h2 class="text-center">No hay ninguna publicación asociada a esta receta</h2>
            </div>
        </div>
    </div><!--container-->


</body>

</html>