

/*usuario creador enlace*/
.enlace-usuario:hover{
    color:#00722e;
    text-decoration:underline;
    cursor:pointer;
}

/*orden de los pasos*/
.contenido-orden{
    background-color: #FFFFFF;
    border:3px solid #00b347;
   
}


/*contenido del paso*/
.contenido-paso{
    background-color: #00b347;
}

.margin-arriba{
    margin-top:150px;
}

/*imagen de la receta*/
.imagen{
    width:  250px;
    height: 250px;
    object-fit: cover;
   border-radius:10px;
}


/*carta del usuario*/
.carta-informacion{
    background-color: #00b347;
    color:#FFFFFF;
    padding:20px;
    border-radius:10px;
    
}

/*imagen del usuario*/
.imagen-usuario{
    width:  50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}


/*titulos*/
.titulo{
    border:5px solid #00722e;
    border-radius:10px;
    color:#00722e;
}




