 <!--barra-->
 <nav class="navbar navbar-expand-lg navegacion ">
    <div class="container-fluid">


      <!--icono arriba-->
      <app-icono-aplicacion></app-icono-aplicacion>



      <!--hamburguesa-->
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <!--<span class="navbar-toggler-icon"></span>-->
        <i class="fa-solid fa-bars icono-barra"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto d-flex align-items-center">
          
         
          <li class="nav-item dropdown">
            
            <a class="nav-link dropdown-toggle mx-3 enlace-navbar" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-sharp fa-solid fa-circle-plus icono"></i>
              Crear
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/anadirPublicacion">Crear Publicación</a></li>
              <li><a class="dropdown-item" routerLink="/crearReceta">Crear Receta</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mx-3 enlace-navbar" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-magnifying-glass icono"></i>
              Buscar
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/buscarUsuario">Buscar Usuario</a></li>
              <li><a class="dropdown-item" routerLink="/buscarReceta">Buscar Receta</a></li>
              <li><a class="dropdown-item" routerLink="/buscarAlimento">Buscar Alimento</a></li>
            </ul>
          </li>

          <li class="nav-item">
           
            <a class="nav-link mx-3 enlace-navbar" routerLink="/miPerfil">
              <img class="img-perfil" [src]="fotoRuta">
              Mi Perfil
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link mx-3 enlace-navbar cierre" (click)="logout()">
              <i class="fa-solid fa-circle-xmark icono"></i>
              Cerrar Sesión</a>
          </li>
          
        </ul>
      </div>

      
    </div><!--container-->
  </nav><!--barra-->

