<div class="footer contenido-footer">
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <!--icono arriba-->
                <app-icono-aplicacion></app-icono-aplicacion>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex flex-column">
                    <h3 class="text-center">Foodbook</h3>
                    <h4 class="text-center">All Rights Reserved 2023 &copy;</h4>
                    <p class="text-center">José María Lozano Olmedo</p>
                    <p class="text-center">Trabajo de Fin de Grado del Grado en Ingeniería Informática en la mención de
                        Ingeniería de Software en la Universidad de Valladolid</p>
                </div>
            </div>
        </div>
    </div><!--container-->
</div><!--footer-->