<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1 class="text-center">Editar mi perfil</h1>
            <div class="col d-flex justify-content-center">
                <div class="contenedor-formulario w-50  p-3">


                    <!--imagen-->
                    <div class="mb-3 d-flex">
                        <img [src]="usuario.fotoRuta" width="100px" height="100px">
                    </div>


                    <!--entrada cambio imagen-->
                    <div class="mb-3 d-flex">
                        <input type="file" (change)="selectFile($event)" />
                    </div>



                    <!--usuario-->
                    <div class="mb-3 d-flex">
                        <p>username:</p>
                        <p class="ms-2">{{usuario.username}}</p>
                        
                    </div>




                    <form (ngSubmit)="editarDatos()" [formGroup]="contactForm">







                        <!--contraseña-->
                        <div class="mb-3 d-flex">


                            <p class="me-2">contraseña:</p>

                            <!--entrada-->
                            <input type="password" formControlName="password" placeholder="password"
                                class="form-control" name="password">


                            <!--alerta-->
                            <div *ngIf="contactForm.get('password')?.touched && contactForm.get('password')?.errors?.['required']"
                                class="alerta">Este campo es obligatorio.</div>


                            <!--alerta-->
                            <div *ngIf="contactForm.get('password')?.touched && contactForm.get('password')?.errors?.['minlength']"
                                class="alerta">Debe tener mas de 5 caracteres</div>


                        </div>










                        <!--email-->
                        <div class="mb-3 d-flex">

                            <p class="me-2">email: </p>

                            <!--entrada-->
                            <input type="email" formControlName="email" placeholder="email" class="form-control"
                                name="email">


                                <!--alerta-->
                            <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['required']"
                                class="alerta">Este campo es obligatorio</div>


                                <!--alerta-->
                            <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['minlength']"
                                class="alerta">Debe tener mas de 5 caracteres</div>


                                <!--alerta-->
                            <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['email']"
                                class="alerta">Tiene que ser formato de email</div>
                        </div>








                        <!--descripciom-->
                        <div class="mb-3 d-flex flex-column">

                            <p>descripcion</p>

                            <!--entrada-->
                            <textarea type="text" formControlName="descripcion" placeholder="descripcion"
                                class="form-control" name="descripcion"></textarea>


                                <!--alerta-->
                            <div *ngIf="contactForm.get('descripcion')?.touched && contactForm.get('descripcion')?.errors?.['required']"
                                class="alerta">Este campo es obligatorio</div>



                        </div>






                        <!--boton para guardar-->
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-success" [disabled]="contactForm.invalid">guardar
                                cambios</button>
                        </div>
                      

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>